body {
  background-image: linear-gradient(to bottom, #ffed00, #e59a26, #a85734, #572a2a, #000000);
  margin-bottom: 8%;
  margin-right: 10%;
  margin-left: 10%;
}
form{
  padding:30px;
}

.jumbotron {
  text-align: center;
  background:transparent !important;
  font-weight: 900;
}
.form-group{
  padding: 15px;
}
.panel-heading{
  text-align: center;
}
.panel-body{
  text-align: center;
  background-color: rgb(115, 134, 165);
}
#c {
  display: none;
  color: aliceblue
}
#ruby {
  display: none;
  color: aliceblue;
  
}
#javascript {
  display: none;
  color: aliceblue;
}
#python {
  display: none;
  color: aliceblue;
  
}