body {
  background-image: linear-gradient(to bottom, #ffed00, #e59a26, #a85734, #572a2a, #000000);}
form{
  padding:30px;
}

.jumbotron {
  /* color: rgb(255, 255, 255); */
  text-align: center;
  background:transparent !important;
  font-weight: 900;
  /* background-color:  */
  /* background-image: linear-gradient(to right, #ffffff, #e59a26, #e59a26, #ffffff);  background-color:#ffffff; */
}
.form-group{
  padding: 15px;
}
.panel-body{
  background-color: rgb(119, 146, 189);
}
#c {
  display: none;
  color: aliceblue
}
#ruby {
  display: none;
  color: aliceblue;
  
}
#javascript {
  display: none;
  color: aliceblue;
}
#python {
  display: none;
  color: aliceblue;
  
}